*{
    margin: 0px;
    padding: 0px;
}

.bg-danger{
    background-color: red;
}

.bg-primary{
    background-color: blue;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.level{
    background-color: rgb(255, 241, 159);
    width: 100%;
    height: 90vh;
    margin: auto;
    border: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.border{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 100%;
    height: 7vh;
    margin: auto;
}

.obstacle{
    width: 95%;
    height: 100%;
}

.seperator{
    width: 5%;
    height: 96%;
    background-color: black;
}

.up{
    margin-bottom: 4vh;
}

.down{
    margin-top: 4vh;
}

/* *-------------------------First Obstacle------------------------* */

.start{
    height: 18%;
    width: 98%;
    margin-top: 5px;
}

.holder{
    width: 98%;
    height: 17%;
    border: solid rgb(255, 241, 159);
    margin-top: 3%;
}

button{
    height: 30%;
    width: 40%;
    border-radius: 5px;
    background-color: rgb(255, 58, 97);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider{
    height: 30px;
    width: 50px;
    background-color: rgb(247, 68, 68);
    margin-top: 40px;
    animation-name: slider1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes slider1{
    0%{
        margin-left: 2px;
    }

    50%{
        margin-left: 11vw;   
    }

    100%{
        margin-left: 2px;
    }
}

.circle{
    height: 65px;
    width: 65px;
    border-radius: 100px;
    background-color: white;
    margin-top: 15px;
}

.slider2{
    height: 30px;
    width: 50px;
    background-color: rgb(247, 68, 68);
    margin-top: 40px;
    animation-name: slider2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes slider2{
    0%{
        margin-left: 2px;
        width: 50px;
    }

    25%{
        width: 6px;
    }

    50%{
        margin-left: 10vw;  
        width: 50px; 
    }

    75%{
        width: 70px;
    }

    100%{
        margin-left: 2px;
        width: 50px;
    }
}

#fireGIF{
    animation-name: fire;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    height: 25vh;
}

#fireGIF2{
    animation-name: fire;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: auto;
    height: 25vh;
}

#fireGIF3{ 
    animation-name: fire;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    height: 25vh;
    float: right;
}

@keyframes fire {
    0%{
        width: 100%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 100%;
    }
    75%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}

.tornado{
    height: 25vh;
    animation-name: tornado-movement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes tornado-movement {
    0%{
        margin-top: 5vh;
        margin-left: 0vw;
    }

    25%{
        margin-top: 25vh;
        margin-left: 5vw;
        height: 25vh;
    }

    50%{
        margin-top: 75vh;
        margin-left: 0vw;
        height: 15vh;
    }

    75%{
        margin-top: 75vh;
        margin-left: 10vw;
        height: 15vh;
    }

    100%{
        margin-top: 5vh;
        margin-left: 0vw;
    }
}

.tornado-holder{
    height: 100%;
}

.laser-holder{
    height: 5vh;
}

.laser{
    margin-top: 10vh;
}

.laser1{
    height: 1vh;
    width: 95%;
    background-color: red;
    border: red;
    transform: rotate(30deg);
    animation-name: laseractivate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes laseractivate{
    0%{
        display: inline-block;
    }
    50%{
        display: none;
    }
    100%{
        display: block;
    }
}


.laser2{
    height: 1vh;
    width: 95%;
    background-color: red;
    border: red;
    transform: rotate(15deg);
}

.laser3{
    height: 1vh;
    width: 95%;
    background-color: red;
    border: red;
    transform: rotate(28deg);
}

.laser4{
    height: 1vh;
    width: 95%;
    background-color: red;
    border: red;
    transform: rotate(112deg);
}

.finish-holder{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}