*{
    margin: 0px;
    padding: 0px;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.level{
    background-color: rgb(255, 241, 159);
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
    border: solid black 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.obstacle{
    width: 95%;
    height: 100%;
}

.seperator{
    width: 5%;
    height: 98%;
    background-color: black;
}

/* *-------------------------First Obstacle------------------------* */

.start{
    height: 18%;
    width: 98%;
    margin-top: 5px;
}

.holder{
    width: 98%;
    height: 17%;
    border: solid rgb(255, 241, 159);
    margin-top: 3%;
}

button{
    height: 30%;
    width: 40%;
    border-radius: 5px;
    background-color: rgb(255, 58, 97);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider{
    height: 30px;
    width: 50px;
    background-color: rgb(247, 68, 68);
    margin-top: 40px;
    animation-name: slider1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes slider1{
    0%{
        margin-left: 2px;
    }

    50%{
        margin-left: 13vw;   
    }

    100%{
        margin-left: 2px;
    }
}

.circle{
    height: 65px;
    width: 65px;
    border-radius: 100px;
    background-color: white;
    margin-top: 15px;
}

.slider2{
    height: 30px;
    width: 50px;
    background-color: rgb(247, 68, 68);
    margin-top: 40px;
    animation-name: slider2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes slider2{
    0%{
        margin-left: 2px;
        width: 50px;
    }

    25%{
        width: 70px;
    }

    50%{
        margin-left: 13vw;  
        width: 50px; 
    }

    75%{
        width: 70px;
    }

    100%{
        margin-left: 2px;
        width: 50px;
    }
}

#fireGIF{
    animation-name: fire;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fire {
    0%{
        width: 100%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 100%;
    }
    75%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}